.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  height: 600px;
  background-color: rgb(248, 248, 248);
  border: 2px solid #7d2ae8;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow-y: overlay;
  }

  &__nav {
    height: 60px;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #7d2ae8; 
}

::-webkit-scrollbar-thumb:hover {
  background: #9e68e4; 
}